.header{
    display: flex;
    background-color: lightpink;
    width: 100vw;
    height: 3rem;
    align-items: center;
    padding: 1ch;
    gap: 1ch;
    border-bottom: 1ch ridge palevioletred;
    span{
        font-size: 1.6em;
        color: white;
        user-select: none; 
    }
}